APP_NAME=MaintenanceApp API
ENVIRONMENT=local
API_V1_PREFIX=/api/v1
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
REPOSITORY_BACKEND=postgres
POSTGRES_DB=db_name #maintenance_db
POSTGRES_USER=db_user #root_mantto
POSTGRES_PASSWORD=db_password #m4nH1tatt0chi
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET_KEY=replace-with-at-least-32-random-characters
JWT_ISSUER=maintenance-app
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
ATTACHMENT_STORAGE_PATH=backend/storage/attachments
ATTACHMENT_MAX_BYTES=10000000
REPORT_STORAGE_PATH=backend/storage/reports
REPORT_LOGO_PATH=docs/OldVersionApp/Formats/img/Hitachi-Logo.png
PREVENTIVE_REPORT_FORMAT_CODE=ML2-STS-FOR-040-ES
PREVENTIVE_REPORT_REVISION=0
CORRECTIVE_REPORT_FORMAT_CODE=ML2-STS-FOR-041-ES
CORRECTIVE_REPORT_REVISION=0
CALIBRATION_REPORT_FILE_PREFIX=Report_Calibration
